:root {
  --color-kukimtir: #2f353b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
body {
  background-color: rgba(32, 36, 40, 1);
}
.ota-boshi-wrapper-div {
  width: 100%;
}
.all-element-wrapper-second-father-wrapper-div {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.button-menu-barcha-branchlarni-ulaydigan-kuchli-button {
  background-color: transparent;
  border: none;
  color: white;
}
.header-part {
  width: 100%;
  height: 580px;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.601),
      rgba(0, 0, 0, 0.601),
      rgba(0, 0, 0, 0.601)
    ),
    url(./img/a3e9876cb60dc8214f8bd80c31a0cc3c8ae8a3a9\ \(1\).jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}
.nav-bar-wrapper {
  width: 100%;
  height: 60px;
  background: rgba(30, 30, 30, 0.698);
  display: flex;
  align-items: center;
}
.menu-ul {
  width: 98%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  color: white;
  align-items: center;
  li select {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    option {
      color: black;
    }
  }
}
.home-page-header-text-terapia {
  font-size: 50px;
  margin-top: 150px;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}
.button-home-page {
  max-width: 220px;
  display: block;
  margin: 40px auto;
  background-color: white;
  border: none;
  border-radius: 41px;
  width: 100%;
  height: 40px;
}
.zapisatsiya-na-premier {
  width: 100%;
  height: 800px;
  background-color: var(--color-kukimtir);
}
.rasm-opa {
  transform: translate(0, 100px);
  max-width: 350px;
  width: 100%;
}
.rasm-opacha {
  transform: translate(185px, 300px);
  max-width: 650px;
  width: 100%;
}
.yozuvcha-wrapppppepr {
  max-width: 480px;
  width: 100%;
  height: 149px;
  color: white;
  transform: translate(550px, -400px);
  border-right: 3px green solid;
}
.button-home-page-bgc-transparent-button-in-side-birbalo-birbalo-lalalalal {
  max-width: 220px;
  display: block;
  margin-top: 20px;
  background-color: transparent;
  border: solid white 1px;
  color: white;
  border-radius: 41px;
  width: 100%;
  height: 40px;
}
.kattaroq-emas-kattttttttttttttttttttttttttttttttttttttttttttttttttta-div-da-buu {
  width: 100%;
  background-color: #d7d8d8;
  padding: 20px;
}
.lichnie-kariesa {
  width: 100%;
  height: 200px;
  border-left: solid green;
  margin: 30px auto;
}
.text-big {
  font-size: 30px;
  max-width: 200px;
  width: 100%;
  transform: translate(70px, 20px);
  text-transform: uppercase;
}
.p-dabu {
  max-width: 400px;
  width: 100%;
  font-size: 12px;
  translate: 600px -50px;
}
.siz-stamatologmisiz-bacham {
  max-width: 800px;
  width: 100%;
}
.tishizga-qaramang-ulib-qosin-bu-tishchangiz-e {
  max-width: 320px;
  width: 100%;
  translate: 51px 160px;
}
.uzuuuuuuuuuuuuuun-yozuvni-yozuvni-urab-turuv-chi-div-di-jaydarisi-manashunaqa-buladi {
  max-width: 550px;
  width: 100%;
  height: 380px;
  translate: 50px 100px;
}
.etap-ma-etaaaaap {
  max-width: 550px;
  width: 100%;
  height: 480px;
  list-style-position: inside;
  padding-inline: 20px;
  translate: 615px 100px;
}
.opachaa {
  max-width: 400px;
  width: 100%;
  translate: 0 -300px;
}
.stamatolog-opaaaaaaaa {
  max-width: 600px;
  width: 100%;
  translate: 60px 0;
}
.footer-part {
  width: 100%;
  background-color: rgba(32, 36, 40, 1);
  padding: 100px;
  color: white;
  h1 {
    text-transform: uppercase;
  }
  div {
    padding: 15px;
    i {
      float: right;
    }
    border-bottom: solid #919294 2px;
    border-top: solid #919294 2px;
  }
  .logo2-yangilanish {
    display: block;
    margin: 40px auto;
    max-width: 150px;
    width: 100%;
  }
  .oxirgi-footer-p {
    font-size: 20px;
    word-spacing: 10px;
    text-transform: uppercase;
    line-height: 40px;
  }
}
.uslugi-qismida-bu {
  max-width: 300px;
  width: 100%;
  position: absolute;
  height: 300px;
  z-index: 66;
  display: none;
  border-radius: 20px;
}
.jujujuju {
  width: 100%;
  position: absolute;
  height: 333px;
  background-color: steelblue;
  z-index: 99;
  list-style: none;
  font-size: 14px;
  line-height: 30px;
padding: 40px;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    rgba(47, 53, 59, 0.96),
    rgba(169, 169, 169, 1)
  );
  border-radius: 20px;
  li a{
    color: white;
    text-decoration: none;
  }
  li a:hover{
    color: rgba(245, 208, 156, 1);
  }
}
.kkkuku {
  max-width: 600px;
  width: 100%;
  filter: brightness(60%);
}
.button-menu-barcha-branchlarni-ulaydigan-kuchli-button:focus
  ~ .uslugi-qismida-bu {
  display: block;
  transition: 200ms;
}
.uslugi-qismida-bu:hover {
  display: block;
}

.hubirls {
  max-width: 600px;
  width: 100%;
  position: absolute;
  display: block;
  height: 300px;
  z-index: 96;
  background-color: red;
  /* display: none; */
  border-radius: 20px;
  img {
    border-radius: 20px;
  }
}

@media screen and (max-width: 1143.9px) {
  .rasm-opacha {
    max-width: 530px;
    width: 100%;
    translate: -180px -90px;
  }
  .etap-ma-etaaaaap {
    translate: 420px 200px;
    max-width: 400px;
  }
  .yozuvcha-wrapppppepr {
    translate: -180px 0;
  }
  .tishizga-qaramang-ulib-qosin-bu-tishchangiz-e {
    translate: 0 10px;
    max-width: 250px;
    width: 100%;
  }
  .stamatolog-opaaaaaaaa {
    translate: 0 -50px;
    max-width: 500px;
    width: 100%;
  }
}

@media screen and (max-width: 1053.9px) {
  .p-dabu {
    transform: translate(-200px, 0);
  }
}
@media screen and (max-width: 872.9px) {
  .opachaa {
    max-width: 300px;
    width: 100%;
  }
  .p-dabu {
    max-width: 250px;
    width: 100%;
    transform: translate(200px, -70px);
  }
  .etap-ma-etaaaaap {
    transform: translate(-90px, 10px);
  }
  .yozuvcha-wrapppppepr {
    max-width: 300px;
    width: 100%;
    translate: -190px 200px;
  }
  .rasm-opacha {
    display: none;
  }
  .p-dabu {
    translate: 190px 10px;
  }
}
@media screen and (max-width: 764.9px) {
  .yozuvcha-wrapppppepr {
    max-width: 300px;
    width: 100%;
    height: 165px;
  }
  .etap-ma-etaaaaap {
    translate: 100px 0;
  }
  .opachaa {
    display: none;
  }
  .stamatolog-opaaaaaaaa {
    translate: 0 -10px;
  }
  .uzuuuuuuuuuuuuuun-yozuvni-yozuvni-urab-turuv-chi-div-di-jaydarisi-manashunaqa-buladi {
    max-width: 300px;
    width: 100%;
    height: fit-content;
    translate: 300px -90px;
  }
}
@media screen and (max-width: 691px) {
  .p-dabu {
    transform: translate(90px, -60px);
  }
  .yozuvcha-wrapppppepr {
    translate: -545px 500px;
  }
  .uzuuuuuuuuuuuuuun-yozuvni-yozuvni-urab-turuv-chi-div-di-jaydarisi-manashunaqa-buladi {
    translate: 0;
  }
}
@media screen and (max-width: 577px) {
  .lichnie-kariesa {
    height: 300px;
  }
  .p-dabu {
    translate: -80px 90px;
  }
  .text-big {
    translate: -60px;
  }
}
@media screen and (max-width: 437px) {
  .tishizga-qaramang-ulib-qosin-bu-tishchangiz-e {
    display: none;
  }
}
