:root {
  --color-kukimtir: #2f353b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
}
body {
  background: linear-gradient(135deg, #1a1a1a 0%, #2c3e50 100%);
  background-size: cover;
  background-repeat: no-repeat;
}
.ota-boshi-wrapper-div {
  width: 100%;
}
.all-element-wrapper-second-father-wrapper-div {
  max-width: 1200px;
  width: 100%;
  border: solid;
  margin: 0 auto;
}
.header-part {
  width: 100%;
  height: 580px;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.601),
      rgba(0, 0, 0, 0.601),
      rgba(0, 0, 0, 0.601)
    ),
    url(./img/a3e9876cb60dc8214f8bd80c31a0cc3c8ae8a3a9\ \(1\).jpg);
  background-position: 60px;
  background-size: cover;
  text-align: center;
}
.nav-bar-wrapper {
  width: 100%;
  height: 60px;
  background: rgba(30, 30, 30, 0.698);
  display: flex;
  align-items: center;
}
.menu-ul {
  width: 98%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  color: white;
  align-items: center;
  li select {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    option {
      color: black;
    }
  }
}
.home-page-header-text-terapia {
  font-size: 50px;
  margin-top: 150px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.button-home-page {
  max-width: 220px;
  display: block;
  margin: 40px auto;
  background-color: white;
  border: none;
  border-radius: 41px;
  width: 100%;
  height: 40px;
}
.zapisatsiya-na-premier {
  width: 100%;
  height: 800px;
  background-color: var(--color-kukimtir);
}
.rasm-opa {
  transform: translate(0, 100px);
  max-width: 350px;
  width: 100%;
}
.rasm-opacha {
  transform: translate(185px, 300px);
  max-width: 650px;
  width: 100%;
}
.yozuvcha-wrapppppepr {
  max-width: 480px;
  width: 100%;
  height: 149px;
  color: white;
  transform: translate(550px, -400px);
  border-right: 3px green solid;
}
.button-home-page-bgc-transparent-button-in-side-birbalo-birbalo-lalalalal {
  max-width: 220px;
  display: block;
  margin-top: 20px;
  background-color: transparent;
  border: solid white 1px;
  color: white;
  border-radius: 41px;
  width: 100%;
  height: 40px;
}
.kattaroq-emas-kattttttttttttttttttttttttttttttttttttttttttttttttttta-div-da-buu {
  width: 100%;
  height: 2300px;
  background-color: #D7D8D8;
  padding: 20px;
}
.lichnie-kariesa{
  width: 100%;
  height: 230px;
  border: solid red ;
}
.text-big{ 
  font-size: 30px;
  max-width: 200px;
  width: 100%;
  transform: translate(70px,20px);
  text-transform: uppercase;
}